.best-seller-shimmer-main-container{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: var(--global-padding);
    height: auto;
    align-items: start;
    justify-content: start;
}

.best-seller-cover-image-shimmer{
    width: 30%;
    height: 580px;
    background-color: #f0f0f0;
    position: relative;
}

.best-seller-cover-image-shimmer::before{
    content: "";
    position: absolute;
    top: 0;
    left: -150%; /* Start off-screen */
    height: auto;
    width: 150%; /* Width of the shimmer gradient */
    background: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(240, 240, 240, 0) 100%);
    animation: shimmer 1.5s infinite;
}

.best-seller-products-main-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
}

.best-seller-product-head{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.best-seller-main-heading{
    width: 180px;
    height: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.best-seller-categories-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.best-seller-category-title-shimmer{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.best-seller-product-cards-shimmer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}